<div class="col-md-3">
<h2>Tags</h2>
  <%= link_to 'New Tag', new_project_tag_path, class: 'btn btn-primary' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Project_id</th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= link_to tag.title, project_tags_path(@project, tag) %></td>
          <td><%= link_to tag.description, project_tags_path(@project) %></td>
          <td><%= link_to tag.project_id, project_tags_path(@project) %></td>
          <td><%= link_to 'Edit', edit_project_tag_path(@project, tag),
            class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', project_tag_path(@project, tag), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

