<div class="col-md-4">
<h2>Tags</h2>
  <%= link_to 'New Tag', new_project_tag_path, class: 'btn btn-primary' %>
  <%= link_to 'All Projects', projects_path, class: 'btn btn-primary' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= link_to tag.title, project_tags_path %></td>
          <td><%= link_to 'Show', tag_path(tag), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_tag_path(tag), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

