<div class="col-md-4">
  <div class="form-horizontal">
    <h1>New Tag</h1>

    <%= form_for @tag, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      <div class="form-group">
        <div class="col-xs-2">
          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :description %>
          <%= f.select :description, [ 'Hight', 'Medium', 'Low' ], :prompt => 'Priority' %>

          <%= f.label :project_id %>
          <%= f.select :project_id, Project.all.collect {|p| [ p.title, p.id ]} %>
          </div>
      </div>

      <%= f.submit "Create", class: 'btn btn-primary' %>
      <%= link_to 'Back', project_tags_path, class: 'btn btn-default' %><br>
    <% end %>
  </div>
</div>

