<h1>New Tag</h1>

<%= form_for @tag, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :project_id %>
  <%= f.select :project_id, Project.all.collect {|p| [ p.title, p.id ] } %>

  <%= f.label :task_id %>
  <%= f.select :task_id, Task.all.collect {|t| [ t.title, t.id ] } %>

  <%= f.submit "Create", class: 'btn btn-default' %>
  <%= link_to 'Back', project_tags_path, class: 'btn btn-default' %><br>
  <%= link_to 'All Tags', project_tags_path, class: 'btn btn-default' %>
<% end %>
