<div class="col-md-4">
  <div class="form-horizontal">
    <h1>Editing Task_list</h1>

    <%= form_for(@task_list) do |f| %>
      <div class="form-group">
        <div class="col-xs-2">
          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :project_id %>
          <%= f.select :project_id, Project.all.collect {|p| [ p.title, p.id ] } %>
        </div>
      </div>

      <%= f.submit "Update", class: 'btn btn-primary' %>
      <%= link_to 'Show', task_list_path, class: 'btn btn-primary' %>
      <%= link_to 'Back', project_task_lists_path(@task_list.project.id), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
