<div class="form-group">
  <div class="col-md-4">
    <p><strong>Title:</strong>
      <%= @task_list.title %></p>
    <p><strong>Project_title:</strong>
      <%= @task_list.project.title %></p>

    <%= link_to "New task", new_task_list_task_path(@task_list), class: 'btn btn-primary' %>
    <%= link_to 'All Tasks', task_list_tasks_path(@task_list), class: 'btn btn-primary' %>
    <%= link_to 'Back', project_task_lists_path(@task_list.project.id), class: 'btn btn-default' %>
  </div>
</div>
